name: Always Succeed

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  always_succeed_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run a successful command
        run: echo "This will succeed"
